@using System.Web.Configuration;

@{
    ViewBag.Title = "Eva System";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var timeStamp = DateTime.Now.Ticks.ToString();
    string WebURL = WebConfigurationManager.AppSettings["WebUrl"];
}
<link href="~/Content/KeyinEdit.css?@timeStamp" rel="stylesheet" />
<script src="~/Scripts/KeyinEdit.js?@timeStamp"></script>


<div class="page-content-wrapper">
    <div class="page-content displayNone" ng-controller="KeyinEditCtrl" ng-init="Init()">
        <div class="login-form">
            <h2 class="text-center">編輯資詢單</h2>
            <input type="hidden" id="hdKeyinId" value="@ViewBag.KeyinId" />

            <select class="form-control" ng-model="result.Contract">
                <option value="" disabled selected>聯絡狀態</option>
                <option value="待約">待約</option>
                <option value="已約諮詢">已約諮詢</option>
            </select>
            <br />
            <div class="input-group">

                <input type="text" class="form-control" placeholder="諮詢日期" ng-model="SearchParam.StartDate.Value"
                       ng-readonly="true"
                       uib-datepicker-popup="yyyy/MM/dd"
                       is-open="SearchParam.StartDate.ShowFlag" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="ClickOpenDate(SearchParam.StartDate)"><i class="fa fa-calendar"></i></button>
                </span>
            </div>

            <br />
            <input type="text" class="form-control" placeholder="姓名" required="required" ng-model="result.Name">
            <br />
            <select class="form-control" ng-model="result.Classname">
                <option value="" disabled selected>班級</option>
                <option value="財金系">財金系</option>
                <option value="經濟系">經濟系</option>
                <option value="統計系">統計系</option>
                <option value="企管系">企管系</option>
                <option value="產經系">產經系</option>
                <option value="國企系">國企系</option>
                <option value="管科系">管科系</option>
                <option value="資管系">資管系</option>
                <option value="風保系">風保系</option>
                <option value="運管系">運管系</option>
                <option value="公行系">公行系</option>
                <option value="會計系">會計系</option>
                <option value="全財管">全財管</option>
                <option value="在職">在職</option>
            </select>
            <br />
            <select class="form-control" ng-model="result.Grade">
                <option value="" disabled selected>年級</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
                <option value="在職">在職</option>
            </select>
            <br />
            <input type="text" class="form-control" placeholder="手機" required="required" ng-model="result.Phone">
            <br />
            <input type="text" class="form-control" placeholder="諮詢項目" required="required" ng-model="result.Quest">
            <br />
            <input type="text" class="form-control" placeholder="金額" required="required" ng-model="result.Money">
            <br />
            <select class="form-control" ng-model="Type">
                <option value="" disabled selected>AB單</option>
                <option value="2">A單</option>
                <option value="3">B單</option>
                <option value="4">可追追看</option>
                <option value="1">無效</option>
            </select>
            <br />
            <select class="form-control" ng-model="Status">
                <option value="0">未成交</option>
                <option value="1">成交</option>
            </select>
            <br />
            <div class="input-group">
                <input type="text" class="form-control" placeholder="成交日期" ng-model="Tran.StartDate.Value"
                       ng-readonly="true"
                       uib-datepicker-popup="yyyy/MM/dd"
                       is-open="Tran.StartDate.ShowFlag" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="ClickOpenDate(Tran.StartDate)"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <br />
            <button type="submit" class="btn btn-primary edit-btn " ng-click="Cancel()">取消</button>
            <button type="submit" class="btn btn-primary edit-btn " ng-click="Save()">儲存</button>

        </div>
    </div>
</div>

