@using System.Web.Configuration;

@{
    ViewBag.Title = "Eva System";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var timeStamp = DateTime.Now.Ticks.ToString();
    string WebURL = WebConfigurationManager.AppSettings["WebUrl"];
}
<link href="~/Content/KeyinList.css?@timeStamp" rel="stylesheet" />
<script src="~/Scripts/KeyinList.js?@timeStamp"></script>


<div class="page-content-wrapper">
    <div class="page-content displayNone" ng-controller="KeyinListCtrl" ng-init="Init()">

        <h2 class="text-center">諮詢單</h2>
        <div class="login-form">
            <select class="form-control" ng-model="type">
                <option value="" disabled selected>AB單</option>
                <option value=2>A單</option>
                <option value=3>B單</option>
                <option value=4>可追追看</option>
                <option value=1>無效</option>
            </select>
            </br>
            <button type="button" class="btn" ng-click="Search()">搜尋</button>
        </div>
        <div class="datatable">
            <table class="rtable">
                <thead>
                    <tr>
                        <th>聯絡狀態</th>
                        <th>資詢日期</th>
                        <th>姓名</th>
                        <th>班級</th>
                        <th>年級</th>
                        <th>手機</th>
                        <th>金額</th>
                        <th>AB單</th>
                        <th>成交狀態</th>
                        <th>成交日期</th>
                        <th>編輯</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="Keyin in KeyinList track by $index">
                        <td>{{Keyin.Contract}}</td>
                        <td>{{Keyin.Askdate | date:'yyyy-MM-dd' }}</td>
                        <td>{{Keyin.Name}}</td>
                        <td>{{Keyin.Classname}}</td>
                        <td>{{Keyin.Grade}}</td>
                        <td>{{Keyin.Phone}}</td>
                        <td>{{Keyin.Money}}</td>
                        <td>{{Keyin.Type | KeyinType}}</td>
                        <td>{{Keyin.Status | KeyinStatus}}</td>
                        <td>{{Keyin.Trandate | date:'yyyy-MM-dd' }}</td>
                        <td>
                            <button type="button" class="btn" ng-click="Edit(Keyin.Id)">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

