@{
    ViewBag.Title = "Eva System";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var timeStamp = DateTime.Now.Ticks.ToString();
}


<div class="page-content-wrapper">
    <div class="page-content displayNone">



        <h2 class="page-title">您已登出</h2>

    </div>


</div>
